---
import Layout from '@pages/en/layout-en.astro';
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import { getRelativeLocaleUrl } from 'astro:i18n';

const projectsURL = getRelativeLocaleUrl('en', 'projects/');

const projects = await getCollection('projectsEN');

projects.sort((a, b) => {
    return b.data.priority - a.data.priority;
})
---

<Layout>
    <div>
        <title>Projects</title>
        <div class='mx-auto px-5 max-w-300 grid grid-cols-1 sm:grid-cols-3 gap-5'>
            {
                projects.map((project) => (
                    <a href={projectsURL + project.id} class='aspect-square overflow-hidden'>
                        <Image src={project.data.thumbnail} alt={''} class='h-full w-full object-cover' />
                    </a>
                ))
            }
        </div>
    </div>
</Layout>
