@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
    --font-base: 'Golos Text', sans-serif;
    --font-banner: 'Major Mono Display', monospace;
}

:root {
    font-size: 1rem;
    font-family: var(--font-base);
    scrollbar-width: thin;
    --black: #171717;
    --white: #f4f4f4;
    --cyan: #1b5eda;
    --magenta: #d0255e;
    --yellow: #e9c00c;
    --real-cyan: #00ffff;
    --real-magenta: #ff00ff;
    --real-yellow: #ffff00;
    --key: #2a2a28;
    --beige: #f2f2e3;
    --background: var(--beige);
    --text: var(--key);
}

@media screen and (min-width: 640px) {
    :root {
        font-size: 1.2em;
    }
}

.midify {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.right-tri {
    clip-path: polygon(16% 0, 16% 100%, 100% 50%);
}

html,
body {
    -webkit-overflow-scrolling: touch;
    overscroll-behavior-y: none;
}

body {
    background: var(--beige);
    color: var(--key);
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

h4 {
  font-size: 1.00em;
}

h5 {
  font-size: 0.83em;
}

h6 {
  font-size: 0.67em;
}

a {
    font-weight: 600;
}
